{% load static %}
<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </HEAD>
    <BODY>
        <center>
           <h1><b> {{title}} </b></h1>
            <h2>Congratulations, your project is ready to GO!</h2>
        </center>
        <div class="container">
            <div class="row">
                <div class="column">
                    {{content}}
                        {% block content %}
                        {% endblock %}
                    <div class="col-sm 6 col-12">
                        <form method="POST">    {% csrf_token %}
                        <!--{{form}}-->
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                            {% if request.user.is_authenticated %}
                            <div class="row">
                                <div class="col">
                                    <h1>Premium</h1>
                                    log:
                                    {{premium}}
                                </div>
                            </div>
                            {% endif %}
                    <form method="POST">    {% csrf_token %}
                        <input type="text" placeholder="First Name" name="full_name" class="form-control"/>
                        <input type="text" placeholder="Email" name="email" class="form-control"/>
                        <textarea type="text" placeholder="Content" name="content" class="form-control"></textarea>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    </BODY>
    <FOOTER></FOOTER>
</HTML>